* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main, body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666
}

/* Body Images */
.reveal-image-0, .reveal-image-1, .reveal-image-2, .reveal-image-3, .foreground-image, .big-logo {
    position: relative;
    opacity: 0.70;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* creates parallax scroll */
    display: flex;
    align-items:center;
    justify-content: center;
}

.reveal-image-0 {
    background-image: url('./img/cjg-bacalar-no_logo-1920x1080.webp');
    min-height: 100%;
}

.big-logo {
    margin-top: 20em;
    opacity: 1;
    width: 10%;
}

#big-logo-bottom {
    margin: 0;
}

.foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./img/cjg-bacalar-no_logo-front-image-1920x1080.webp');
    z-index: 10;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
}

.reveal-image-1, .reveal-image-2, .reveal-image-3 {
    min-height: 400px;
}

.reveal-image-1 {
    background-image: url('./img/ben-rosett-WdJkXFQ4VHY-unsplash.webp');
}

.reveal-image-2 {
    background-image: url('./img/dariusz-sankowski-3OiYMgDKJ6k-unsplash.webp');
}

.reveal-image-3 {
    background-image: url('./img/scott-graham-5fNmWej4tAA-unsplash.webp');
}

/* Sections */
.section {
    text-align: center;
    padding: 50px 80px;
}

.section p {
    width: 75%;
    margin: auto;
    max-width: 900px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #2b3438;
    color: #ebebeb;
}

.reveal-text {
    width: 40%;
    max-width: 700px;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 7px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.reveal-text .border {
    margin: auto;
    background-color: #111;
    color: #fff;
    padding: 20px;

}

.reveal-text .border.trans {
    /* background-color: transparent; */
    opacity: 0.8;
}

.attribution {
    font-size: .5em;
    font-style:italic;
    line-height: 1em;
}

/* Nav Header */
.nav-header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding: .25em 1em;
    background-color: #ebebeb;
    width: 100%;
    z-index:100;
}

.header-logo h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1em;
    text-align: center;
    color: #55878a;
}

nav {
    width: 80%;
}

.nav-links, .social-links {
    display:flex;
    align-items: space-around;
    justify-content: space-around;
    width: 5fr;
    padding: 1.5em;
    gap: .75em;
    overflow-x: hidden;
}

.nav-links a, .social-links a {
    text-decoration: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #55878a;
    cursor: pointer;
    user-select: none
}

.nav-links a:hover, .social-links a:hover {
    text-shadow: 2px 2px 3px rgb(204, 115, 64);
}

.social-links {
    align-items: space-around;
    justify-content: center;
    gap: 1.5em;
}

.social-links a {
    color: #55878a;
}


.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: #55878a;
    transition: all 0.3s ease;
}

.contact-form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: #ebebeb;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #55878a;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  .contact-form button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: #ebebeb;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color:#2b3438d5;
    transition: 0.3s ease background-color;
  }
  .contact-form button[type="submit"]:hover {
    background-color: #55878a;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  


@media(max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    .form-group {
        font-size: 16px;
      }
      .form-group input,
      .form-group textarea {
        font-size: 16px;
      }
      
      .contact-form button[type="submit"] {
        font-size: 20px;
      }

    .reveal-image-0 {
        height: 400px;
    }

    .reveal-image-0, .reveal-image-1, .reveal-image-2, .reveal-image-3 {
        background-attachment: scroll;
    }

    .reveal-text {
        width: 66%;
        font-size: 20px;
        letter-spacing: 7px;
        line-height: 1.5em;
    }

    .section {
        padding: 2em 2em;
    }
    .section p {
        width: 85%;
    }

    .foreground-image {
        visibility: hidden;
    }

    .reveal-image-0 {
        background-image: url('./img/cjg-bacalar-1920x1080.webp');
        min-height: 55%;
    }

    .big-logo {
        visibility: hidden;
    }

    .header-logo {
        font-size: .75em;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    nav {
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ebebeb;
        opacity: 1;
        z-index: 11;
        max-width: 55%;
        transform: translateX(100%);
        
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        opacity: 0;
    }

}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
