---
import '../styles/globals.css';
---
<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth dark" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <slot name="head" />
  </head>
  <body class="min-h-screen bg-background text-foreground antialiased">
    <slot />
  </body>
</html>
